.envelope {
  z-index: 2;
  position: absolute;
  width: 550px;
  height: 366.66667px;
  top: 50%;
  left: 50%;
  margin-top: -183.33333px;
  margin-left: -275px;
  transform-style: preserve-3d;
  transform-origin: right center;
  transition: transform 1s ease;
  color: #1f1f1f;
}

.envelope .front,
.envelope .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 30px -5px #fbc0b9eb;
}

.envelope .front {
  backface-visibility: hidden;
  cursor: pointer;
  display: table;
}

.envelope .front:focus {
  outline: none;
}

.envelope .front .mail {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.envelope .front .mail p {
  font-weight: bold;
  margin: 0;
}

.envelope .front .mail p:first-child {
  font-size: 50px;
  line-height: 50px;
  color: #ff969f;
}

.envelope .front .mail p:last-child {
  font-size: 30px;
}

.envelope .back .letter p {
  font-size: 30px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #ff969f;
}

.envelope .back .letter p:nth-child(2) {
  font-size: 30px;
  color: black;
}

/* Remove or comment out this rule */
/* .envelope .back .letter p:nth-child(3) {
  font-size: 30px;
  color: #f57882;
  margin-top: 150px;
  float: right;
} */

.envelope .back {
  transform: rotateY(180deg) translate3d(0, 0, 1px);
}

.envelope .back .flip {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.envelope .back .flip:before {
  content: "";
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 0px 100px #f5c1bc52;
}

.envelope .back .topFlip:before,
.envelope .back .bottomFlip:before {
  width: 388.90873px;
  height: 388.90873px;
}

.envelope .back .topFlip {
  z-index: 5;
  transform-origin: top center;
}

.envelope .back .topFlip:before {
  transform-origin: top left;
  transform: rotate(-45deg);
  border-bottom-left-radius: 50px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.envelope .back .bottomFlip {
  z-index: 4;
}

.envelope .back .bottomFlip:before {
  transform-origin: left bottom;
  transform: rotate(45deg) translate(-15px, -15px);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.envelope .back .leftFlip:before,
.envelope .back .rightFlip:before {
  width: 269.27249px;
  height: 269.27249px;
  top: -5px;
}

.envelope .back .leftFlip {
  z-index: 3;
}

.envelope .back .leftFlip:before {
  transform-origin: top left;
  transform: rotate(45deg);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 5px;
}

.envelope .back .rightFlip {
  z-index: 2;
}

.envelope .back .rightFlip:before {
  right: 0;
  transform-origin: top right;
  transform: rotate(-45deg);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 5px;
}

.envelope .back .letter {
  z-index: 1;
  position: absolute;
  top: 5px;
  left: 10px;
  width: 530px;
  height: 346.66667px;
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 1px 100px #fbc0b9eb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  overflow: hidden;
}

.envelope .back .letter .content {
  text-align: center;
}

.envelope .back .letter .content p {
  margin: 10px 0;
}

.envelope .back .letter .box {
  position: relative;
  height: 200px;
  margin-top: 20px;
}

.envelope .back .letter .hbdText {
  position: absolute;
  bottom: 10px;
  right: 30px;
  font-size: 30px;
  color: #f57882;
  margin: 0;
}

.envelope.new {
  animation: new 1s forwards;
}

.envelope.open {
  animation: open 3s forwards;
}

.envelope.open .topFlip {
  animation: flip-open 1s 1s forwards;
}

.envelope.open .letter {
  animation: letter-out 1s 2s forwards;
}

@keyframes new {
  0% {
    left: 0%;
    margin-left: -550px;
  }
  100% {
    left: 50%;
    margin-left: -275px;
  }
}

@keyframes open {
  0% {
    transform: translate3d(0, 0, 0) rotateY(0);
  }
  33.333% {
    transform: translate3d(-100%, 0, 0) rotateY(-180deg);
  }
  66.666% {
    transform: translate3d(-100%, 0, 0) rotateY(-180deg);
  }
  100% {
    transform: translate3d(-100%, 733.33333px, 0) rotateY(-180deg);
  }
}

@keyframes flip-open {
  0% {
    transform: rotateX(0deg);
    z-index: 5;
  }
  50% {
    transform: rotateX(0deg);
    z-index: 5;
  }
  100% {
    transform: rotateX(-180deg);
    z-index: -1;
  }
}

@keyframes letter-out {
  0% {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0px 30px -5px #fbc0b9eb;
  }
  100% {
    transform: translate3d(0, -733.33333px, 0);
    box-shadow: 0 0px 30px -5px #fbc0b9eb;
  }
}

.cake {
  position: absolute;
  bottom: 60px; /* Changed from 80px to move it up slightly */
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 40px;
  background: #75594a;
  border-radius: 100%;
  box-shadow:
    0px 4px 0px #6b5344,
    0px 8px 0px #6b5344,
    0px 12px 0px #6b5344,
    0px 16px 0px #6b5344,
    0px 20px 0px #6b5344,
    0px 24px 0px #6b5344,
    0px 28px 0px #6b5344,
    0px 32px 0px #2fabde,
    0px 36px 0px #2fabde,
    0px 40px 0px #f8ecc9,
    0px 44px 0px #f8ecc9,
    0px 48px 0px #f8ecc9,
    0px 52px 0px #f8ecc9,
    0px 56px 0px #6b5344,
    0px 60px 0px #6b5344,
    0px 64px 0px #6b5344,
    0px 68px 0px #6b5344,
    0px 72px 0px #6b5344,
    0px 76px 0px #6b5344,
    0px 80px 0px #6b5344;
}

.cake:before {
  position: absolute;
  right: 0;
  top: 79px;
  left: -25px;
  margin: auto;
  content: "";
  width: 250px;
  height: 50px;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1);
  z-index: -1;
  transform: translateY(100px); /* Added to move the plate down slightly */
}

.candle {
  background: #ffffff;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  position: absolute;
  bottom: 70%;
  left: 50%;
  margin-left: -2.5px;
  margin-top: -8.333333333333334px;
  width: 10px;
  height: 50px;
}

.candle:after,
.candle:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
}

.candle:after {
  top: 25%;
  left: 0;
}

.candle:before {
  top: 45%;
  left: 0;
}

.fire {
  border-radius: 100%;
  box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -3.3333333333333335px;
  width: 6.666666666666667px;
  height: 20.5px;
  animation: fire 2s infinite;
}

@keyframes fire {
  0% {
    background: rgb(251, 243, 63);
    background: radial-gradient(circle, rgba(251, 243, 63, 1) 0%, rgba(252, 177, 70, 1) 100%);
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(0);
    background: rgb(251, 243, 63);
    background: radial-gradient(circle, rgba(251, 243, 63, 1) 0%, rgba(252, 177, 70, 1) 100%);
  }
  100% {
    background: rgb(251, 243, 63);
    background: radial-gradient(circle, rgba(251, 243, 63, 1) 0%, rgba(252, 177, 70, 1) 100%);
    transform: translateY(0) scale(1);
  }
}
