.responsiveContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.scaleContainer {
  width: 550px;
  height: 366.66667px;
  transform-origin: center center;
}
